
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 0px;
  }

 
      
img.logo {
  padding:30px 20px 10px 20px;
  max-width:100%;
}

Responsive Tablet Sizes

body {
margin:0;
} 

* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html footer{
color:#fff;

}
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a, a:hover {
text-decoration: none;
}
.logo-image img{
height: 2%;

}
.logo-image img {
max-height: 60px;
max-width: none;
margin: 0;
/* position: relative; */
top: 4px;
}

.subscription{
  color: #FFF;
  font: 200px;

}

/*form*/

.form
{
  width: 60%;
    max-width: 100%;
    height: 732px;
    /* background: #e6e6e6; */
    border-radius: 8px;
    /* box-shadow: 0 0 40px -10px #000; */
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;

}
/*
h2{margin:10px 0;padding-bottom:10px;width:180px;color:#78788c;border-bottom:3px solid #78788c}*/
input:focus{border-bottom:2px solid #78788c}
/*p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}*/
button{float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
button:hover{background:#78788c;color:#fff}

span{margin:0 5px 0 15px}

input {
    /* padding: 88%; */
    width: 100%;
    padding: 29px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    transition: all .3s;
    border-bottom: 1px solid #bebed2;
}

.contact-paragragh{
font-size :15px;
}

