.dropdown-item {
display: block;
width: 100%;
    padding: 0.25rem 0.5rem
clear: both;
font-weight: 400;
color: #133c31;
text-align: inherit;
white-space: nowrap;
/*background-color:#00656A;*/
border-radius: 5px;
}
.navbar-dark .navbar-nav .nav-link {
color: #fff;
font-size: 15px;;
}

.navbar{
background-color: #00656A;

}
 .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    /* background: #1d2124; */
    background: white;
}
.navbar-fixed-top {
  /*top: -70px*/; /* you'll have to figure out the exact number here */
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative; /* this can also be static */
}

.footer-logo {
width:20%;
}

a{
color: #fff;}

footer p {
margin-top: 0;
margin-bottom: 0rem;
}
.subscribe-button{
border-radius:5px
}
.socialbtns .fa:hover {
color: #FFF;
background-color: #000;
border: 1px solid #000;
}

.socialbtns li {
list-style: none outside none;
display: inline-block;
}

.socialbtns .fa {
width: 40px;
height: 28px;
color: #000;
background-color: #FFF;
border: 1px solid #000;
padding-top: 12px;
border-radius: 22px;
-moz-border-radius: 22px;
-webkit-border-radius: 22px;
-o-border-radius: 22px;
}
.footer-navigation {
width:60%;
}
.footer-links-holder {
width: 33.33333%;
position: relative;
float: left;
margin: 0;
}

.footer-links {
margin:0;
padding:0;
list-style:none;
-webkit-transition: max-height .5s;
transition: max-height .5s;
}
footer {
background:#2A424C;
color:#fff;
padding-top: 60px;
margin-top: 30px;
}
.socialbtns, .socialbtns ul, .socialbtns li {
margin: 0;
padding: 5px;
}
p a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 0%;
}
#subscription p{
    text-align: justify;
    margin-left: 50px;

}
.subscribebtn{
background-color:#26B7D4;
background-color: #26B7D4;
margin-top: 10px;
width: 130px;
margin-left: 0%;
}