
hr{
  /*height:2px;*/
  background-color: #7b7c80;
}
body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  .navbar-dark .navbar-nav .nav-link {
  color: #fff;
  }
        
  img.logo {
    padding:30px 20px 10px 20px;
    max-width:100%;
  }
  
  Responsive Tablet Sizes
  
  body {
  margin:0;
  } 
  
  * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  
  html footer{
  color:#fff;
  
  }
  @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
  
  a, a:hover {
  text-decoration: none;
  }
  .logo-image img{
  height: 2%;
  
  }
  .logo-image img {
  max-height: 60px;
  max-width: none;
  margin: 0;
  /* position: relative; */
  top: 4px;
  }
  
  .subscription{
    color: #FFF;
    font: 200px;
  
  }
  
  .peer-peer-image{
    background: #f8f9fa;
  }
  .borrower-banner-header{
    font-size: 25px;
    font-weight: 700;
    margin-top: 65px;
    text-align: center;
  }
  iframe{
    width: 776px;
    height: 438px;
    margin-left: 10px; 
  }
  .img-fluid{
    max-width: 100%;
    height: 50%;
    background-position: center;
    margin: 2%;
    margin-left: 20%;
    background: #f8f9fa;
    margin-top: 4%;
  }
  p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 20px;
  }
  .mfi-data p{
    margin: 0%;
    font-size: 18px;
  }
  .mfi-data h3{
    margin: 20%;
    font-size: 15px;
  }
  .mfi-data img{
    margin: 3%;
  }

  .h5, h5 {
    font-size: 1.25rem;
    margin: 2%;
}
h1{
  text-align:center;
  margin-top: 3%;
  margin-top: 0%;
  font-size: 30px;
      font-weight: 600;

}
/*#lenders{
  background: #333;*/
}
iframe{
  width:70%;
  height: 400px;
  margin-left:20%;
}
#testimonials-img{
margin-top: 27px;
}
#testimonials-img img{

margin-top: 12px;
}
.borrowers-paragrapgh{
  margin-top: 20px;
  font-size: 15px;
      text-align: justify;
}

/*lenders testimonials*/
#lenders-testimonial{
  background: #F2F2F2;
  max-width: 100%;
}
.lender-header{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.lenders-paragraph{
  font-size:14px;
  margin-top: 35px;
  text-align: justify;
}

/*Navigation*/
.navbar{
background-color:   #191919;
 height: 100px;
}
.navbar-dark .navbar-nav .nav-link {
color: #fff;
font-size: 15px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
position: absolute;
background: #1d2124;
}
.navbar-lend{
  height: 50px;
  background: #191919;
  width: 100%;
  color: white;
}
.navbar-lend p{
  text-align: center;
  height: 50px;
  background: #767676;
  color: white;
  padding: 1%;
  font-size: 15px;
}

   
/* footer */

.footer-logo {
width:20%;
}

footer p {
margin-top: 0;
margin-bottom: 0rem;
}
.subscribe-button{
border-radius:5px
}
.socialbtns .fa:hover {
color: #FFF;
background-color: #000;
border: 1px solid #000;
}

.socialbtns li {
list-style: none outside none;
display: inline-block;
}

.socialbtns .fa {
width: 40px;
height: 28px;
color: #000;
background-color: #FFF;
border: 1px solid #000;
padding-top: 12px;
border-radius: 22px;
-moz-border-radius: 22px;
-webkit-border-radius: 22px;
-o-border-radius: 22px;
}
.footer-navigation {
width:60%;
}
.footer-links-holder {
width: 33.33333%;
position: relative;
float: left;
margin: 0;
}

.footer-links {
margin:0;
padding:0;
list-style:none;
-webkit-transition: max-height .5s;
transition: max-height .5s;
}
footer {
background:#2A424C;
color:#fff;
padding-top: 60px;
margin-top: 30px;
}
.socialbtns, .socialbtns ul, .socialbtns li {
margin: 0;
padding: 5px;
}
p a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 0%;
}
#subscription p{
font-size: 18px;
}
.subscribebtn{
background-color:#26B7D4;
background-color: #26B7D4;
margin-top: 10px;
width: 130px;
}